<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         backupGlobals="false"
         cacheDirectory=".phpunit.cache">

    <testsuites>
        <testsuite name="Integration">
            <file>tests/Integration/class-test-mm-db.php</file>
            <file>tests/Integration/class-test-mm-settings.php</file>
            <file>tests/Integration/class-test-mm-frontend.php</file>
            <file>tests/Integration/class-test-mm-job-queue.php</file>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>includes</directory>
        </include>
    </source>

</phpunit>
