[Unit]
Description=Metamanager Daemon Self-Updater Timer
Documentation=https://github.com/richardkentgates/metamanager

[Timer]
OnBootSec=10s
OnCalendar=*:*:0/1
Persistent=true

[Install]
WantedBy=timers.target
